
Clima-Flutter/
*.flutter-furniture-online-app-ui
app.mobile.online-course-app-ui/
*.uber-clone-app-ui
*.youtube-clone-app-ui
bmi-calculator-flutter/
destini-challenge-starting/
magic-8-ball-flutter/
Navigation-Flutter-Demo/
quizzler-flutter/
travelappui/
xylophone-flutter/
covid19_tracking/android/app/release/app-release.aab
covid19_tracking/android/app/debug/app-debug.aab
real_estate/
flutter_internet_streaming_radio
car_rental/
covid_19_live_tracker/
flutter_internet_streaming_radio
flutter_internet_streaming_radio
flutter_internet_streaming_radio
flutter_internet_streaming_radio
flutter_internet_streaming_radio
flutter_internet_streaming_radio
FlutterNewsApp/
flutter_internet_streaming_radio
flutter_internet_streaming_radio
bindoo/.metadata
bindoo/android/app/build.gradle
bindoo/android/app/google-services.json
bindoo/android/app/src/debug/AndroidManifest.xml
bindoo/android/app/src/main/AndroidManifest.xml
bindoo/android/app/src/main/java/com/bill/bindoo/MainActivity.java
bindoo/android/app/src/main/res/drawable/launch_background.xml
bindoo/android/app/src/main/res/mipmap-hdpi/billshopc.png
bindoo/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
bindoo/android/app/src/main/res/mipmap-mdpi/billshopc.png
bindoo/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
bindoo/android/app/src/main/res/mipmap-xhdpi/billshopc.png
bindoo/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
bindoo/android/app/src/main/res/mipmap-xxhdpi/billshopc.png
bindoo/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
bindoo/android/app/src/main/res/mipmap-xxxhdpi/billshopc.png
bindoo/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
bindoo/android/app/src/main/res/values/styles.xml
bindoo/android/app/src/profile/AndroidManifest.xml
bindoo/android/build.gradle
bindoo/android/gradle.properties
bindoo/android/gradle/wrapper/gradle-wrapper.properties
bindoo/android/settings.gradle
bindoo/fonts/Nunito-Black.ttf
bindoo/fonts/Nunito-BlackItalic.ttf
bindoo/fonts/Nunito-Bold.ttf
bindoo/fonts/Nunito-BoldItalic.ttf
bindoo/fonts/Nunito-ExtraBold.ttf
bindoo/fonts/Nunito-ExtraBoldItalic.ttf
bindoo/fonts/Nunito-ExtraLight.ttf
bindoo/fonts/Nunito-ExtraLightItalic.ttf
bindoo/fonts/Nunito-Italic.ttf
bindoo/fonts/Nunito-Light.ttf
bindoo/fonts/Nunito-LightItalic.ttf
bindoo/fonts/Nunito-Regular.ttf
bindoo/fonts/Nunito-SemiBold.ttf
bindoo/fonts/Nunito-SemiBoldItalic.ttf
bindoo/fonts/OFL.txt
bindoo/images/37-373378_20071212140923-rolex-gold-watch-png.png
bindoo/images/allCat.png
bindoo/images/b.jpg
bindoo/images/baby.jpg
bindoo/images/back1.png
bindoo/images/backpack.jpg
bindoo/images/bags.png
bindoo/images/ban.jpg
bindoo/images/banner.jpg
bindoo/images/banner.png
bindoo/images/banner1.png
bindoo/images/bb1.png
bindoo/images/bBibs.jpg
bindoo/images/bby.png
bindoo/images/bCap.jpg
bindoo/images/bCase.jpg
bindoo/images/bClothing.jpg
bindoo/images/beanie.jpg
bindoo/images/beauty.png
bindoo/images/bedSet.jpg
bindoo/images/belt.jpg
bindoo/images/bg.PNG
bindoo/images/bHat.jpg
bindoo/images/bikini.jpg
bindoo/images/billshopc.png
bindoo/images/billshoplogo.png
bindoo/images/bItems.jpg
bindoo/images/bl1.PNG
bindoo/images/blazer.jpg
bindoo/images/blouse.jpg
bindoo/images/blue.jpg
bindoo/images/blue.png
bindoo/images/body.jpg
bindoo/images/boots.jpg
bindoo/images/boxer.jpg
bindoo/images/bra.jpg
bindoo/images/bracelet.jpg
bindoo/images/bsb.png
bindoo/images/bShoes.jpg
bindoo/images/bToys.jpg
bindoo/images/buyer.png
bindoo/images/buyers.png
bindoo/images/cable.jpg
bindoo/images/cake.jpg
bindoo/images/cap.jpg
bindoo/images/cargo.jpg
bindoo/images/carpet.jpg
bindoo/images/cart.png
bindoo/images/cartwhite.png
bindoo/images/cases.jpg
bindoo/images/casual.jpg
bindoo/images/categories.png
bindoo/images/cBody.jpg
bindoo/images/charger.jpg
bindoo/images/chg.jpg
bindoo/images/circle.gif
bindoo/images/circle1.gif
bindoo/images/computers.png
bindoo/images/cover.jpg
bindoo/images/cShoes.jpg
bindoo/images/curtains.jpg
bindoo/images/cushion.jpg
bindoo/images/d1.jpg
bindoo/images/dressc.jpg
bindoo/images/drnk.jpg
bindoo/images/earPhone.jpg
bindoo/images/earring.jpg
bindoo/images/electronics.png
bindoo/images/ep.png
bindoo/images/evening.jpg
bindoo/images/flash.png
bindoo/images/flat.jpg
bindoo/images/flowerPot.jpg
bindoo/images/game.jpg
bindoo/images/gloves.jpg
bindoo/images/green.jpg
bindoo/images/handBag.jpg
bindoo/images/hdCase.jpg
bindoo/images/heels.jpg
bindoo/images/holder.jpg
bindoo/images/home.png
bindoo/images/home1.png
bindoo/images/hoodie.jpg
bindoo/images/hot.png
bindoo/images/hp.jpg
bindoo/images/ic_thank_you.png
bindoo/images/icon-cart2.png
bindoo/images/icon-category.png
bindoo/images/icon-home.png
bindoo/images/icon-user.png
bindoo/images/images.jpg
bindoo/images/jacket.jpg
bindoo/images/jeans.jpg
bindoo/images/jewelry.png
bindoo/images/jj.jpg
bindoo/images/keyboard.jpg
bindoo/images/kitchen.png
bindoo/images/kTools.jpg
bindoo/images/ladies.png
bindoo/images/laundry.jpg
bindoo/images/leggings.jpg
bindoo/images/loafers.jpg
bindoo/images/log.png
bindoo/images/logo.png
bindoo/images/logoo.png
bindoo/images/lpCase.jpg
bindoo/images/lwb.png
bindoo/images/makeUp.jpg
bindoo/images/mar.jpg
bindoo/images/maternity.jpg
bindoo/images/mBelt.jpg
bindoo/images/memory.jpg
bindoo/images/men.png
bindoo/images/mhoodies.jpg
bindoo/images/mic.jpg
bindoo/images/mice.jpg
bindoo/images/mjacket.jpg
bindoo/images/mJeans.jpg
bindoo/images/mp3.jpeg
bindoo/images/mp3.jpg
bindoo/images/mp3Player.png
bindoo/images/mSandals.jpg
bindoo/images/mset.jpg
bindoo/images/mshirt.jpg
bindoo/images/mshorts.jpg
bindoo/images/mSuit.jpg
bindoo/images/mycart.png
bindoo/images/myorders.png
bindoo/images/nail.jpg
bindoo/images/necklace.jpg
bindoo/images/new.png
bindoo/images/pab.png
bindoo/images/paint.jpg
bindoo/images/pajamas.jpg
bindoo/images/pant.jpg
bindoo/images/pants.jpg
bindoo/images/paypal.png
bindoo/images/pBank.jpg
bindoo/images/phones.png
bindoo/images/prom.jpg
bindoo/images/protector.jpg
bindoo/images/prz.jpg
bindoo/images/purse.jpg
bindoo/images/rak.jpg
bindoo/images/red.jpg
bindoo/images/red1.jpg
bindoo/images/red1.png
bindoo/images/red2.JPG
bindoo/images/ring.jpg
bindoo/images/sbc.png
bindoo/images/set.jpg
bindoo/images/sh.PNG
bindoo/images/shape.jpg
bindoo/images/shoes.png
bindoo/images/shoes20.png
bindoo/images/shoeslide.jpg
bindoo/images/shoeslide1.jpg
bindoo/images/shorts.jpg
bindoo/images/skin.jpg
bindoo/images/skirt.jpg
bindoo/images/slide1.jpg
bindoo/images/slide2.jpg
bindoo/images/smart.jpg
bindoo/images/sneaker.jpg
bindoo/images/sofa.jpg
bindoo/images/spk.jpg
bindoo/images/sports.png
bindoo/images/stand.jpg
bindoo/images/sticker.jpg
bindoo/images/suit.jpg
bindoo/images/tam.jpg
bindoo/images/tank.jpg
bindoo/images/tBag.jpg
bindoo/images/tees.jpg
bindoo/images/TENC_6.5_iPhone_11_PC-658CC-3_1024x1024.png
bindoo/images/tote.jpg
bindoo/images/tshirt.jpg
bindoo/images/ttk.png
bindoo/images/tv.png
bindoo/images/userPik.png
bindoo/images/wallClock.jpg
bindoo/images/wallet.jpg
bindoo/images/watch.jpg
bindoo/images/watches.jpg
bindoo/images/water.jpg
bindoo/images/wedding.jpg
bindoo/images/wig.jpg
bindoo/images/wSandals.jpg
bindoo/ios/Flutter/AppFrameworkInfo.plist
bindoo/ios/Flutter/Debug.xcconfig
bindoo/ios/Flutter/Release.xcconfig
bindoo/ios/Runner.xcodeproj/project.pbxproj
bindoo/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
bindoo/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
bindoo/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
bindoo/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
bindoo/ios/Runner.xcworkspace/contents.xcworkspacedata
bindoo/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
bindoo/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
bindoo/ios/Runner/AppDelegate.swift
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
bindoo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
bindoo/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
bindoo/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
bindoo/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
bindoo/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
bindoo/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
bindoo/ios/Runner/Base.lproj/LaunchScreen.storyboard
bindoo/ios/Runner/Base.lproj/Main.storyboard
bindoo/ios/Runner/Info.plist
bindoo/ios/Runner/Runner-Bridging-Header.h
bindoo/lib/account_page.dart
bindoo/lib/Address/add_address.dart
bindoo/lib/Address/adress_page.dart
bindoo/lib/Authentication/login_register.dart
bindoo/lib/cart_list.dart
bindoo/lib/categories/babies_category.dart
bindoo/lib/categories/bag_category.dart
bindoo/lib/categories/beauty_health.dart
bindoo/lib/categories/computer_accessories.dart
bindoo/lib/categories/electronics_category.dart
bindoo/lib/categories/home_decor_page.dart
bindoo/lib/categories/jewelry_page.dart
bindoo/lib/categories/kitchen_set.dart
bindoo/lib/categories/men_category.dart
bindoo/lib/categories/mobile_accessories.dart
bindoo/lib/categories/shoes_category.dart
bindoo/lib/categories/women_category.dart
bindoo/lib/category_display.dart
bindoo/lib/category_display_items.dart
bindoo/lib/category_page.dart
bindoo/lib/Config/config.dart
bindoo/lib/Config/CustomShapeClipper.dart
bindoo/lib/Config/CustomTextStyle.dart
bindoo/lib/confirm_order.dart
bindoo/lib/Counters/cart_count.dart
bindoo/lib/Counters/change_address.dart
bindoo/lib/Counters/item_quantity.dart
bindoo/lib/Counters/total_amount.dart
bindoo/lib/DialogBox/error_dialog.dart
bindoo/lib/DialogBox/loadingDialog.dart
bindoo/lib/edit_profile.dart
bindoo/lib/home_page.dart
bindoo/lib/item_details.dart
bindoo/lib/main.dart
bindoo/lib/Models/slide.dart
bindoo/lib/my_cart.dart
bindoo/lib/my_orders.dart
bindoo/lib/order_details.dart
bindoo/lib/Orders/myOrders.dart
bindoo/lib/Orders/OrderDetailsPage.dart
bindoo/lib/Orders/placeOrder.dart
bindoo/lib/product_details.dart
bindoo/lib/search_page.dart
bindoo/lib/start_up.dart
bindoo/lib/Widget/custom_app_bar.dart
bindoo/lib/Widget/loading_widget.dart
bindoo/lib/Widget/searchBox.dart
bindoo/lib/Widget/slide_dots.dart
bindoo/lib/Widget/slider_item.dart
bindoo/pubspec.lock
bindoo/pubspec.yaml
bindoo/README.md
bindoo/test/widget_test.dart
Flutter-Movies4U/
